[alias]
    stat = status
    ulog = log --oneline --graph
[core]
    quotepath = false
[diff]
    tool = nvimdiff
[init]
	defaultBranch = main
[user]
  email = {{ .user.profile.public.email }}
	name = {{ .user.profile.public.git_username }}

# vim:ft=gitconfig:
