[Keyboard]
RepeatDelay=400

[Libinput][13652][64522][Compx 2.4G Receiver Mouse]
PointerAccelerationProfile=1

[Libinput][1739][52992][SYNA2BA6:00 06CB:CF00 Touchpad]
DisableWhileTyping=false
Enabled=true
NaturalScroll=true
PointerAcceleration=0.200
PointerAccelerationProfile=2
ScrollFactor=2
ScrollMethod=1

[Mouse]
cursorSize={{ .user.device.cursorSize }}
cursorTheme={{ .user.themes.cursor }}
